.row {
  width: auto;
  display: flex;
  width: 100%;
}

.square {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.sqtext {
  font-size: 2rem;
}

.action {
  font-size: 1rem;
  margin-right: 1rem;
}

.title {
  margin-top: 1rem;
}

table {
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid gray;
}

.testhead {
  margin-top: 0.5rem;
}
